* -text
# Exclude files from language stats
Resources/**/* linguist-vendored
Engine/Resources/Documents/* linguist-vendored
Engine/Controls/Chat/ChatListControl/prism.*
Engine/Controls/Chat/ChatListControl/core.*
Engine/Controls/Chat/ChatListControl/marked.*
