<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<!--
		Аssembly binding redirects.
		Аllow application to use a newer version of an assembly
		even if it was built against an older version.
		-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
