<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="dotnet"
                    arguments=".\ChatBridge.dll"
                    hostingModel="inprocess"
                    stdoutLogEnabled="false"
                    stdoutLogFile=".\logs\stdout">
        </aspNetCore>
    </system.webServer>
</configuration>
